In [970]:
import sklearn as sk
import numpy as np
import pandas as pd
from scipy.optimize import minimize
import matplotlib.pyplot as plt

In [971]:
df = pd.read_csv("train_data.csv")

In [972]:
df1 = df.drop(["ID","Operating_Systems","Browser","Aboutus","Aboutus_Duration"],axis = 1)

In [973]:
df1

,Item_page,Item_page_Duration,Checkout_page,Checkout_page_Duration,Bounce_Rates,Exit_Rates,Page_Values,Remarkable_Day,Month,Province,TrafficType,VisitorType,Weekend,Income
0,1.0,10.0,9.0,700.000000,0.000000,0.011111,29.621890,0.0,Dec,9,10,Returning_Visitor,no,1
1,2.0,15.0,10.0,894.666667,0.000000,0.022222,0.000000,0.0,May,4,2,Returning_Visitor,no,0
2,1.0,85.0,14.0,306.500000,0.000000,0.004444,0.000000,0.0,Mar,3,2,Returning_Visitor,no,0
3,5.0,175.1,26.0,615.559524,0.000000,0.002083,62.773672,0.0,Sep,1,3,New_Visitor,1,1
4,2.0,25.0,5.0,40.000000,0.066667,0.083333,0.000000,0.6,May,1,1,Returning_Visitor,no,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,0.0,0.0,8.0,376.333333,0.000000,0.028571,53.988000,0.0,May,2,4,Returning_Visitor,1,1
9939,1.0,0.0,22.0,671.866667,0.017391,0.020580,0.000000,0.0,Nov,7,10,Returning_Visitor,no,0
9940,0.0,0.0,15.0,872.833333,0.000000,0.026667,0.000000,0.0,Mar,2,3,Returning_Visitor,1,0
9941,2.0,327.5,7.0,570.500000,0.000000,0.028571,0.000000,0.0,Nov,2,2,Returning_Visitor,no,0
9942,0.0,0.0,9.0,198.133333,0.000000,0.053333,0.000000,0.0,Nov,9,2,Returning_Visitor,no,0

In [974]:
#Encode
d = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12}
#d1 = {'Android':1, 'Windows':2, 'iOS':3, 'iOS':4, 'Ubuntu':5, 'oracle linux':6, 'CentOS':7, 'Fedora':8}
d2 = {'Returning_Visitor':1, 'New_Visitor':2, 'Other':3}
d3 = {'no':0, '1':1}
df1.Month = df1.Month.map(d)
#df1.Operating_Systems = df1.Operating_Systems.map(d1)
df1.VisitorType = df1.VisitorType.map(d2)
df1.Weekend = df1.Weekend.map(d3)
df1

,Item_page,Item_page_Duration,Checkout_page,Checkout_page_Duration,Bounce_Rates,Exit_Rates,Page_Values,Remarkable_Day,Month,Province,TrafficType,VisitorType,Weekend,Income
0,1.0,10.0,9.0,700.000000,0.000000,0.011111,29.621890,0.0,12.0,9,10,1,0,1
1,2.0,15.0,10.0,894.666667,0.000000,0.022222,0.000000,0.0,5.0,4,2,1,0,0
2,1.0,85.0,14.0,306.500000,0.000000,0.004444,0.000000,0.0,3.0,3,2,1,0,0
3,5.0,175.1,26.0,615.559524,0.000000,0.002083,62.773672,0.0,9.0,1,3,2,1,1
4,2.0,25.0,5.0,40.000000,0.066667,0.083333,0.000000,0.6,5.0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,0.0,0.0,8.0,376.333333,0.000000,0.028571,53.988000,0.0,5.0,2,4,1,1,1
9939,1.0,0.0,22.0,671.866667,0.017391,0.020580,0.000000,0.0,11.0,7,10,1,0,0
9940,0.0,0.0,15.0,872.833333,0.000000,0.026667,0.000000,0.0,3.0,2,3,1,1,0
9941,2.0,327.5,7.0,570.500000,0.000000,0.028571,0.000000,0.0,11.0,2,2,1,0,0
9942,0.0,0.0,9.0,198.133333,0.000000,0.053333,0.000000,0.0,11.0,9,2,1,0,0

In [975]:
# df1["VisitorType"] = df1["VisitorType"].astype('category')
# df1["Weekend"] = df1["Weekend"].astype('category')
# df1["Operating_Systems"] = df1["Operating_Systems"].astype('category')
# df1.dtypes

In [976]:
# categorical_data = df1.drop(['Aboutus','Aboutus_Duration','Browser','Item_page', 'Item_page_Duration', 'Checkout_page','Checkout_page_Duration','Bounce_Rates','Exit_Rates','Page_Values','Remarkable_Day','Month','Province','TrafficType','Income'], axis=1)
# categorical_data

In [977]:
# numeric_data = df1.drop(['Operating_Systems','VisitorType','Weekend'],axis = 1)
# numeric_data

In [978]:
# categorical_data["VisitorType"] = categorical_data["VisitorType"].cat.codes
# categorical_data["Weekend"] = categorical_data["Weekend"].cat.codes
# categorical_data["Operating_Systems"] = categorical_data["Operating_Systems"].cat.codes

In [979]:
# dataset_new=categorical_data.join(numeric_data)
# dataset_new

In [980]:
df1.isnull().sum()

Item_page                  15
Item_page_Duration         15
Checkout_page              15
Checkout_page_Duration     15
Bounce_Rates               15
Exit_Rates                 15
Page_Values                 0
Remarkable_Day              0
Month                     228
Province                    0
TrafficType                 0
VisitorType                 0
Weekend                     0
Income                      0
dtype: int64

In [981]:
column_means = df1.mean()
dataSet_final = df1.fillna(column_means)

In [982]:
#dataSet_final = df1.dropna(axis = 0)
dataSet_final.isnull().sum()

Item_page                 0
Item_page_Duration        0
Checkout_page             0
Checkout_page_Duration    0
Bounce_Rates              0
Exit_Rates                0
Page_Values               0
Remarkable_Day            0
Month                     0
Province                  0
TrafficType               0
VisitorType               0
Weekend                   0
Income                    0
dtype: int64

In [983]:
# from sklearn.preprocessing import MinMaxScaler
# import numpy as np
  
# # copy the data
# df_sklearn = dataSet_final.copy()
  
# # apply normalization techniques
# column1 = 'Item_page'
# column2 = 'Item_page_Duration'
# column3 = 'Checkout_page'
# column4 = 'Checkout_page_Duration'
# column5 = 'Page_Values'

# df_sklearn[column1] = MinMaxScaler().fit_transform(np.array(df_sklearn[column1]).reshape(-1,1))
# df_sklearn[column2] = MinMaxScaler().fit_transform(np.array(df_sklearn[column2]).reshape(-1,1))
# df_sklearn[column3] = MinMaxScaler().fit_transform(np.array(df_sklearn[column3]).reshape(-1,1))
# df_sklearn[column4] = MinMaxScaler().fit_transform(np.array(df_sklearn[column4]).reshape(-1,1))
# df_sklearn[column5] = MinMaxScaler().fit_transform(np.array(df_sklearn[column5]).reshape(-1,1))
# # view normalized data  
# display(df_sklearn)

In [984]:
# from sklearn.preprocessing import MinMaxScaler
# minmax_scaler = MinMaxScaler()
# names=[""]
# d = minmax_scaler.fit_transform(dataSet_final)
# scaled_df = pd.DataFrame(d, columns=names)
# scaled_df.head()

In [985]:
data = dataSet_final.iloc[:,0:13]
data

,Item_page,Item_page_Duration,Checkout_page,Checkout_page_Duration,Bounce_Rates,Exit_Rates,Page_Values,Remarkable_Day,Month,Province,TrafficType,VisitorType,Weekend
0,1.0,10.0,9.0,700.000000,0.000000,0.011111,29.621890,0.0,12.0,9,10,1,0
1,2.0,15.0,10.0,894.666667,0.000000,0.022222,0.000000,0.0,5.0,4,2,1,0
2,1.0,85.0,14.0,306.500000,0.000000,0.004444,0.000000,0.0,3.0,3,2,1,0
3,5.0,175.1,26.0,615.559524,0.000000,0.002083,62.773672,0.0,9.0,1,3,2,1
4,2.0,25.0,5.0,40.000000,0.066667,0.083333,0.000000,0.6,5.0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,0.0,0.0,8.0,376.333333,0.000000,0.028571,53.988000,0.0,5.0,2,4,1,1
9939,1.0,0.0,22.0,671.866667,0.017391,0.020580,0.000000,0.0,11.0,7,10,1,0
9940,0.0,0.0,15.0,872.833333,0.000000,0.026667,0.000000,0.0,3.0,2,3,1,1
9941,2.0,327.5,7.0,570.500000,0.000000,0.028571,0.000000,0.0,11.0,2,2,1,0
9942,0.0,0.0,9.0,198.133333,0.000000,0.053333,0.000000,0.0,11.0,9,2,1,0

In [986]:
target = dataSet_final.iloc[:,13]
target

0       1
1       0
2       0
3       1
4       0
       ..
9938    1
9939    0
9940    0
9941    0
9942    0
Name: Income, Length: 9943, dtype: int64

In [987]:
from sklearn.model_selection import train_test_split

In [988]:
train_data,test_data,train_target,test_target=train_test_split(data,target,test_size=0.2)

In [989]:
from sklearn.neighbors import KNeighborsClassifier

model=KNeighborsClassifier() #load KNN algorithm into model

In [990]:
model.fit(train_data,train_target)

KNeighborsClassifier()

In [991]:
test_data.dtypes

Item_page                 float64
Item_page_Duration        float64
Checkout_page             float64
Checkout_page_Duration    float64
Bounce_Rates              float64
Exit_Rates                float64
Page_Values               float64
Remarkable_Day            float64
Month                     float64
Province                    int64
TrafficType                 int64
VisitorType                 int64
Weekend                     int64
dtype: object

In [992]:
predicted_target=model.predict(test_data) #getting predictions from the model
print(predicted_target)

[0 0 0 ... 0 0 0]

In [993]:
from sklearn.metrics import accuracy_score

acc=accuracy_score(test_target,predicted_target)
print('Accuracy:',acc)

Accuracy: 0.8637506284565108

In [994]:
##########################################################
# Testing Set
##########################################################

df_test = pd.read_csv("test_data.csv")

In [995]:
df_test

,ID,Aboutus,Aboutus_Duration,Item_page,Item_page_Duration,Checkout_page,Checkout_page_Duration,Bounce_Rates,Exit_Rates,Page_Values,Remarkable_Day,Month,Operating_Systems,Browser,Province,TrafficType,VisitorType,Weekend
0,1,0,0.0,12,569.825000,127,6065.016218,0.006716,0.009265,0.152167,0.0,Aug,Windows,1,2,4,Returning_Visitor,no
1,2,0,0.0,0,0.000000,25,770.028571,0.011200,0.034933,0.000000,0.0,Mar,iOS,2,8,10,Returning_Visitor,no
2,3,0,0.0,7,38.600000,70,1087.700000,0.000000,0.004861,0.000000,0.0,Oct,Android,2,4,5,Returning_Visitor,no
3,4,0,0.0,4,105.266667,35,655.684762,0.000000,0.005128,0.000000,0.0,Nov,Android,10,7,2,New_Visitor,1
4,5,0,0.0,0,0.000000,3,63.000000,0.000000,0.066667,0.000000,0.8,May,Windows,1,9,1,Returning_Visitor,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0,0.0,0,0.000000,2,4.000000,0.000000,0.100000,0.000000,0.8,May,Android,5,4,1,Returning_Visitor,no
996,997,0,0.0,1,43.000000,36,2362.500000,0.000000,0.016190,0.000000,0.6,May,Android,5,1,4,Returning_Visitor,no
997,998,0,0.0,0,0.000000,25,1017.966667,0.008333,0.017361,0.000000,0.0,Aug,iOS,2,4,1,Returning_Visitor,1
998,999,0,0.0,0,0.000000,18,587.733333,0.000000,0.022222,32.523808,0.0,Nov,Android,2,7,4,Returning_Visitor,1
999,1000,0,0.0,5,179.500000,36,1792.800000,0.000000,0.004390,0.000000,0.0,Mar,Android,2,3,10,Returning_Visitor,no

In [996]:
ids=df_test['ID'].values

In [997]:
df1_test = df_test.drop(["ID","Operating_Systems","Browser","Aboutus","Aboutus_Duration"],axis = 1)
df1_test.dtypes

Item_page                   int64
Item_page_Duration        float64
Checkout_page               int64
Checkout_page_Duration    float64
Bounce_Rates              float64
Exit_Rates                float64
Page_Values               float64
Remarkable_Day            float64
Month                      object
Province                    int64
TrafficType                 int64
VisitorType                object
Weekend                    object
dtype: object

In [998]:
df1_test

,Item_page,Item_page_Duration,Checkout_page,Checkout_page_Duration,Bounce_Rates,Exit_Rates,Page_Values,Remarkable_Day,Month,Province,TrafficType,VisitorType,Weekend
0,12,569.825000,127,6065.016218,0.006716,0.009265,0.152167,0.0,Aug,2,4,Returning_Visitor,no
1,0,0.000000,25,770.028571,0.011200,0.034933,0.000000,0.0,Mar,8,10,Returning_Visitor,no
2,7,38.600000,70,1087.700000,0.000000,0.004861,0.000000,0.0,Oct,4,5,Returning_Visitor,no
3,4,105.266667,35,655.684762,0.000000,0.005128,0.000000,0.0,Nov,7,2,New_Visitor,1
4,0,0.000000,3,63.000000,0.000000,0.066667,0.000000,0.8,May,9,1,Returning_Visitor,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0.000000,2,4.000000,0.000000,0.100000,0.000000,0.8,May,4,1,Returning_Visitor,no
996,1,43.000000,36,2362.500000,0.000000,0.016190,0.000000,0.6,May,1,4,Returning_Visitor,no
997,0,0.000000,25,1017.966667,0.008333,0.017361,0.000000,0.0,Aug,4,1,Returning_Visitor,1
998,0,0.000000,18,587.733333,0.000000,0.022222,32.523808,0.0,Nov,7,4,Returning_Visitor,1
999,5,179.500000,36,1792.800000,0.000000,0.004390,0.000000,0.0,Mar,3,10,Returning_Visitor,no

In [999]:
d = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12}
#d1 = {'Android':1, 'Windows':2, 'iOS':3, 'iOS':4, 'Ubuntu':5, 'oracle linux':6, 'CentOS':7, 'Fedora':8}
d2 = {'Returning_Visitor':1, 'New_Visitor':2, 'Other':3}
d3 = {'no':0, '1':1}
df1_test.Month = df1_test.Month.map(d)
#df1_test.Operating_Systems = df1_test.Operating_Systems.map(d1)
df1_test.VisitorType = df1_test.VisitorType.map(d2)
df1_test.Weekend = df1_test.Weekend.map(d3)
df1_test

,Item_page,Item_page_Duration,Checkout_page,Checkout_page_Duration,Bounce_Rates,Exit_Rates,Page_Values,Remarkable_Day,Month,Province,TrafficType,VisitorType,Weekend
0,12,569.825000,127,6065.016218,0.006716,0.009265,0.152167,0.0,8.0,2,4,1,0
1,0,0.000000,25,770.028571,0.011200,0.034933,0.000000,0.0,3.0,8,10,1,0
2,7,38.600000,70,1087.700000,0.000000,0.004861,0.000000,0.0,10.0,4,5,1,0
3,4,105.266667,35,655.684762,0.000000,0.005128,0.000000,0.0,11.0,7,2,2,1
4,0,0.000000,3,63.000000,0.000000,0.066667,0.000000,0.8,5.0,9,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0.000000,2,4.000000,0.000000,0.100000,0.000000,0.8,5.0,4,1,1,0
996,1,43.000000,36,2362.500000,0.000000,0.016190,0.000000,0.6,5.0,1,4,1,0
997,0,0.000000,25,1017.966667,0.008333,0.017361,0.000000,0.0,8.0,4,1,1,1
998,0,0.000000,18,587.733333,0.000000,0.022222,32.523808,0.0,11.0,7,4,1,1
999,5,179.500000,36,1792.800000,0.000000,0.004390,0.000000,0.0,3.0,3,10,1,0

In [1000]:
# df1_test["VisitorType"] = df1_test["VisitorType"].astype('category')
# df1_test["Weekend"] = df1_test["Weekend"].astype('category')
# df1_test["Operating_Systems"] = df1_test["Operating_Systems"].astype('category')
# df1_test.dtypes

In [1001]:
# categorical_data_test = df1_test.drop(['Aboutus','Aboutus_Duration','Browser','Item_page', 'Item_page_Duration', 'Checkout_page','Checkout_page_Duration','Bounce_Rates','Exit_Rates','Page_Values','Remarkable_Day','Month','Province','TrafficType'], axis=1)
# categorical_data_test

In [1002]:
# numeric_data_test = df1_test.drop(['Operating_Systems','VisitorType','Weekend'],axis = 1)
# numeric_data_test

In [1003]:
# categorical_data_test["VisitorType"] = categorical_data_test["VisitorType"].cat.codes
# categorical_data_test["Weekend"] = categorical_data_test["Weekend"].cat.codes
# categorical_data_test["Operating_Systems"] = categorical_data_test["Operating_Systems"].cat.codes

In [1004]:
# dataset_new_test=categorical_data_test.join(numeric_data_test)
# dataset_new_test

In [1005]:
df1_test.isnull().sum()

Item_page                  0
Item_page_Duration         0
Checkout_page              0
Checkout_page_Duration     0
Bounce_Rates               0
Exit_Rates                 0
Page_Values                0
Remarkable_Day             0
Month                     25
Province                   0
TrafficType                0
VisitorType                0
Weekend                    0
dtype: int64

In [1006]:
df1_test['Month'] = df1_test['Month'].fillna(1.0)
#df1_test['Operating_Systems'] = df1_test['Operating_Systems'].fillna(1.0)
df1_test.isnull().sum()

Item_page                 0
Item_page_Duration        0
Checkout_page             0
Checkout_page_Duration    0
Bounce_Rates              0
Exit_Rates                0
Page_Values               0
Remarkable_Day            0
Month                     0
Province                  0
TrafficType               0
VisitorType               0
Weekend                   0
dtype: int64

In [1007]:
# from sklearn.preprocessing import MinMaxScaler
# import numpy as np
  
# # copy the data
# df_sklearn_test = dataset_new_test.copy()
  
# # apply normalization techniques
# column1 = 'Item_page'
# column2 = 'Item_page_Duration'
# column3 = 'Checkout_page'
# column4 = 'Checkout_page_Duration'
# column5 = 'Page_Values'

# df_sklearn_test[column1] = MinMaxScaler().fit_transform(np.array(df_sklearn_test[column1]).reshape(-1,1))
# df_sklearn_test[column2] = MinMaxScaler().fit_transform(np.array(df_sklearn_test[column2]).reshape(-1,1))
# df_sklearn_test[column3] = MinMaxScaler().fit_transform(np.array(df_sklearn_test[column3]).reshape(-1,1))
# df_sklearn_test[column4] = MinMaxScaler().fit_transform(np.array(df_sklearn_test[column4]).reshape(-1,1))
# df_sklearn_test[column5] = MinMaxScaler().fit_transform(np.array(df_sklearn_test[column5]).reshape(-1,1))
# # view normalized data  
# display(df_sklearn_test)

In [1008]:
df1_test.dtypes

Item_page                   int64
Item_page_Duration        float64
Checkout_page               int64
Checkout_page_Duration    float64
Bounce_Rates              float64
Exit_Rates                float64
Page_Values               float64
Remarkable_Day            float64
Month                     float64
Province                    int64
TrafficType                 int64
VisitorType                 int64
Weekend                     int64
dtype: object

In [1009]:
predicted_target=model.predict(df1_test) #getting predictions from the model
print(predicted_target)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0]

In [1010]:
output = pd.DataFrame({'ID': ids, 'Income': predicted_target})

In [1011]:
output

       ID  Income
0       1       0
1       2       0
2       3       0
3       4       0
4       5       0
..    ...     ...
995   996       0
996   997       0
997   998       0
998   999       1
999  1000       0

[1000 rows x 2 columns]

In [1012]:
output.to_csv("HellRaisers_Final.csv")